.pokemon-page {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-card-detail {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

/* Image du Pokémon */

.pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #ff3b3b;
    padding: 10px;
}

/* Nom du Pokémon */

.pokemon-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 15px;
}

/* Types du Pokémon */

.pokemon-types {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.type-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid;
}

.type-badge.Acier {
    border-color: #60a2b9;
    color: #60a2b9;
}

.type-badge.Combat {
    border-color: #ff8100;
    color: #ff8100;
}

.type-badge.Dragon {
    border-color: #4f60e2;
    color: #4f60e2;
}

.type-badge.Eau {
    border-color: #2481ef;
    color: #2481ef;
}

.type-badge.Electrique {
    border-color: #fac100;
    color: #fac100;
}

.type-badge.Fée {
    border-color: #ef70ef;
    color: #ef70ef;
}

.type-badge.Feu {
    border-color: #e72324;
    color: #e72324;
}

.type-badge.Glace {
    border-color: #3dd9ff;
    color: #3dd9ff;
}

.type-badge.Insecte {
    border-color: #92a212;
    color: #92a212;
}

.type-badge.Normal {
    border-color: #a0a2a0;
    color: #a0a2a0;
}

.type-badge.Plante {
    border-color: #3da224;
    color: #3da224;
}

.type-badge.Poison {
    border-color: #923fcc;
    color: #923fcc;
}

.type-badge.Psy {
    border-color: #ef3f7a;
    color: #ef3f7a;
}

.type-badge.Roche {
    border-color: #b0aa82;
    color: #b0aa82;
}

.type-badge.Sol {
    border-color: #92501b;
    color: #92501b;
}

.type-badge.Spectre {
    border-color: #703f70;
    color: #703f70;
}

.type-badge.Ténèbres {
    border-color: #4f3f3d;
    color: #4f3f3d;
}

.type-badge.Vol {
    border-color: #82baef;
    color: #82baef;
}

.type-image {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
}

/* Stats du Pokémon */

.pokemon-stats {
    font-size: 16px;
    color: #333;
}

.pokemon-stats p {
    margin: 5px 0;
}

/* Bouton retour */

button {
    padding: 10px 20px;
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000;
}

button:focus {
    outline: none;
}