.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.search-bar {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #ff0000;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
    border-color: #ff3b3b;
    box-shadow: 0 4px 20px rgba(255, 59, 59, 0.3);
}

.search-bar::placeholder {
    color: #aaa;
    font-style: italic;
}

.search-bar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ff0000;
}

/* Style pour le select de région */

.region-select {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #ff0000;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.region-select:focus {
    border-color: #ff3b3b;
    box-shadow: 0 4px 20px rgba(255, 59, 59, 0.3);
}

/* Mobile */

@media (max-width: 600px) {
    .search-bar-container {
        margin: 10px;
        width: 90%;
        flex-direction: column;
    }

    .search-bar {
        padding: 10px 15px;
        font-size: 14px;
        width: 100%;
    }

    .region-select {
        width: 100%;
        margin-top: 10px;
    }
}