.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.search-bar {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #ff0000;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
    border-color: #ff3b3b;
    box-shadow: 0 4px 20px rgba(255, 59, 59, 0.3);
}

.search-bar::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Style pour le select de région */

.region-select {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #ff0000;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select {
    -webkit-appearance: none; /* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
    -moz-appearance: none;    /* Pour Firefox */
    appearance: none;         /* Pour les navigateurs modernes */
    background: transparent;  /* Supprimer le fond par défaut */
    border: none;             /* Supprimer la bordure par défaut */
    padding: 10px;            /* Ajouter du padding pour plus de confort */
    font-size: 16px;          /* Taille de la police */
    cursor: pointer;          /* Changer le curseur en pointeur */
}

select::after {
    content: '▼';             /* Utiliser un caractère Unicode pour la flèche */
    position: absolute;       /* Positionner la flèche de manière absolue */
    top: 50%;                 /* Centrer verticalement */
    right: 10px;              /* Positionner à droite avec un peu de marge */
    transform: translateY(-50%); /* Centrer verticalement */
    pointer-events: none;     /* Empêcher les interactions avec la flèche */
}

.region-select:hover {
    cursor: pointer;
}

/* Mobile */

@media (max-width: 600px) {
    .search-bar-container {
        margin: 10px;
        width: 90%;
        flex-direction: column;
    }

    .search-bar {
        padding: 10px 15px;
        font-size: 14px;
        width: 100%;
    }

    .region-select {
        width: 100%;
        margin-top: 10px;
    }
}